html { 
  background: url("http://assets.kodekloud.io/sites/5592f9b56e6f647f9a000000/54c72855e3d213f14a77bc33e20b287e/pf_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}